.folder {
  margin-left: 20px;
}

.placeholder {
  font-style: italic;
}

.name-input {
  margin-left: 20px;
  margin-bottom: 5px;
}

.subfolder-icon {
  margin-right: 5px;
}

.add-button {
  border: none;
  background: transparent;
  font-size: 20px;
}

.add {
  opacity: 0;
  transition: opacity 0.3s;
}

.title:hover .add {
  opacity: 1;
}
